body {
  background-color: #f2f2f2;
}

.App {
  width: 100%;
  text-align: center;
  height: auto;
}

.container {
  width: 900px;
  margin: 0px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: medium;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #2d67c4;
}

a:hover, a:focus {
  text-decoration: underline;
}

/* ********************
 * CATEGORIES STYLING *
 * ******************** */

.categories {
  margin: 30px 0;
}

.categories > a,
.no-posts > a {
  padding: 10px 20px;
  margin: 0px 10px;
  background-color: #333;
  color: white;
  text-decoration: none;
  box-shadow: 0px 0px 15px 1px #aaa;
}

.categories > .newpost {
  background-color: green;
}

.no-posts > .newpost {
  background-color: orange;
  max-width: 150px;
  display: block;
  margin: 20px auto;
}

.categories > a:hover {
  transition: all 0.5s easy;
  text-decoration: underline;
}

/* ********************
 * POSTS STYLING *
 * ******************** */

.post-container {
  width: 100%;
  max-width: 900px;
  margin: 10px 0;
  padding: 10px 0;
  background-color: white;
  box-shadow: 0px 0px 15px 1px #aaa;
}

.post-title {
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

.post-details {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.post-counts {
  display: inline-block;
  margin: 10px;
}

.read-post {
  max-width: 100px;
  text-align: center;
  display: block;
  padding: 10px 15px;
  margin: 10px auto;
  background-color: #333;
  color: white;
  font-weight: normal
}

label, input, button {
  display: block;
  margin: 0px auto;
}

label, button {
  margin-top: 20px;
}

/* ********************
 * COMMENTS STYLING *
 * ******************** */

.comments-container {
  width: 70%;
  margin: 0px auto;
}

@media screen and (max-width: 768px) {
  .comments-container {
    width: 100%;
  }
}

.comment {
  margin: 10px;
  padding: 10px;
  background-color: white;
}

.comment:hover {
  border-right: 3px solid #333;
  border-left: 3px solid #333;
}

.comment-details {
  font-size: 14px;
}

.comment-content {
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
    margin: 0px auto;
  }
  .post-container {
    width: 90%;
    margin: 10px auto;
    padding: 10px 20px;
  }
}

.bold {
  font-weight: 600;
}
